.container {
  display: flex;
}

.book {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 100px;
  padding: 20px;
  margin: 10px;
  outline: black solid 2px;
}

li {
  text-align: center;
  flex-grow: 1;
}

::marker {
  color: white;
}